
<footer class="footer" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
                <p>Санкт-Петербург, 140000, ул. Неизвестная, д. 1</p>                
            </div>
            <div class="col-md-4">тел.: +7 (921) 777-77-77</div>

            <div class="col-md-4 social-icons">
                <a href="https://www.instagram.com/"><img class="social-icons-img" src="../../static/icons/instagram.png"></a>
                <a href="https://vk.com/"><img class="social-icons-img" src="../../static/icons/vk.png"></a>
                <a href="https://www.youtube.com/"><img class="social-icons-img" src="../../static/icons/youtube.png"></a>
                <a href="https://telegram-web.online/"><img class="social-icons-img" src="../../static/icons/telegram.png"></a>
                <br> 
                <a href="#home">наверх</a>
                &nbsp
                <a href="/">на главную</a>                   
            </div>
            <br>

    </div>

    
       
    
</footer>