{% extends 'base/base.html' %}

{% load static %}

{% block content %}



<div class="container">
  <div class="row">  	
    <div class="col-sm-12">
        <H2>О нас</H2>
        <p>"Ищу друга" - это муниципальный приют для животных, потерявших хозяев.</p>
        <p>У нас одновременно живет более 300 животных. </p>
        <p>Это умные попугаи, ласковые коты и кошки и верные собаки, которые могут стать для Вас надёжным другом.</p>
        <p>Большие и маленькие, пушистые и гладкие, веселые и умные -</p>
        <p>и на всех одна большая мечта - встретить своего
            Друга и найти Дом.</p>
    </div>
    
  </div>
</div>



{% endblock content %}